body {
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  width: 100%;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
}

.big-logo img {
  width: 100%;
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.wrapper .navbar {
  margin-bottom: 0;
}

.ururu-logo-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ururu-logo-wrapper > img {
  height: 100%;
}