<video id="localVideo", autoplay></video>
<video id="remoteVideo", autoplay></video>

<button id="room_1">Room 1</button>
<button id="room_2">Room 2</button>
<button id="leave_all">Leave all</button>
